{% extends "layouts/base.html" %}

{% block title %} MISP Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-12">
        <div class="card card-chart">
          <div class="card-header ">
            <div class="row">
              <div class="col-sm-6 text-left">
                <h5 class="card-category">Total Traffic</h5>
                <h2 class="card-title">Traffic Last 24 Hr.</h2>
              </div>
              <div class="col-sm-6">
                <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                  <!-- <label class="btn btn-sm btn-primary btn-simple active" id="0">
                    <input type="radio" name="options" checked>
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">All Events Log inupt</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-single-02"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="1">
                    <input type="radio" class="d-none d-sm-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">All MISP Events</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-gift-2"></i>
                    </span>
                  </label>
                  <label class="btn btn-sm btn-primary btn-simple" id="2">
                    <input type="radio" class="d-none" name="options">
                    <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Match Events</span>
                    <span class="d-block d-sm-none">
                      <i class="tim-icons icon-tap-02"></i>
                    </span>
                  </label> -->
                  
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartBig1"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- rander data for chart -->
    <div id="data-x_traffic" data-x="[{{ x_traffic }}]"></div>
      <div id="data-y_traffic" data-y="[{{ y_traffic }}]"></div>
      <div id="data-x_misp" data-x="[{{ x_misp }}]"></div>
      <div id="data-y_misp" data-y="[{{ y_misp }}]"></div>
      <div id="data-x_match" data-x="[{{ x_match }}]"></div>
      <div id="data-y_match" data-y="[{{ y_match }}]"></div>
      <div id="data_count" data-count="[{{ count }}]"></div>
      <div id="data_data" data-d="[{{ data }}]"></div>
      <!-- end rander -->
    <div class="row">
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Alert Match IP Malicious Last 24 Hr.</h5>
            <!-- <h3 class="card-title"><i class="tim-icons icon-bell-55 text-primary"></i>763,215</h3> -->
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLinePurple"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">MISP Malicious IP Last Month</h5>
            <!-- <h3 class="card-title"><i class="tim-icons icon-alert-circle-exc text-primary"></i>{{y_misp}}</h3> -->
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="CountryChart"></canvas>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4"> 
        <div class="card card-chart">
          <div class="card-header">
            <h5 class="card-category">Completed Tasks</h5>
            <h3 class="card-title"><i class="tim-icons icon-send text-success"></i> 12,100K</h3>
          </div>
          <div class="card-body">
            <div class="chart-area">
              <canvas id="chartLineGreen"></canvas>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12 text-center">
          Last 10 Events
        </div>
      </div>
      <table class="table">
        <tr>
          <th>Time</th>
          <th>srcIP</th>
          <th>srcPort</th>
          <th>dstIP</th>
          <th>dstPort</th>
          <th>Indicator</th>
          <th>type</th>
          <th>Category</th>

        </tr>
        {% for item in data %}
          <tr>
            <td>{{ item.0}}</td>
            <td>{{ item.1 }}</td>
            <td>{{ item.2 }}</td>
            <td>{{ item.3 }}</td>
            <td>{{ item.4 }}</td>
            <td>{{ item.5 }}</td>
            <td>{{ item.6 }}</td>
            <td>{{ item.7 }}</td>
          </tr>
        {% endfor %}
      </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
